	<footer class="text-center" style="margin-top: 100px;">
        <div style="width: 50%;display: block;margin-left: auto;margin-right: auto; padding-bottom: 45px">
            <h1 style="font-family: 'Nitti Grotesk'; font-weight: bold!important;;">Subscribe to insert:view's newsletter.</h1><input type="email" style="width: 30%;">            <p class="text-muted mb-0 small text-center" style="font-family: 'Nitti Grotesk'; padding-top: 10px;">It's free!</p>
</div>
		    	<a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
		 <div class="footer" style="width: 100%;">
        <div class="col" style="height: 111px;background-color: #171717;width: 100%;">
            <p style="padding-top: 45px;color: rgb(255,255,255);font-family: 'Nitti Grotesk', sans-serif; font-weight: 300; margin-bottom: 0;">© 2020 UCL Film and TV Society</p>
        </div>
    </div>

	 <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/bs-init.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <script src="/assets/js/modernizr-custom.js"></script>
    <script src="/assets/js/stylish-portfolio.js"></script>
			</footer>