@font-face {
    font-family: 'Cotoris';
    src: url('../../assets/fonts/Cotoris.woff2') format('woff2'),
        url('../../assets/fonts/Cotoris.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CotorisHeavy';
    src: url('../../assets/fonts/CotorisHeavy.woff2') format('woff2'),
        url('../../assets/fonts/CotorisHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CotorisItalic';
    src: url('../../assets/fonts/CotorisItalic.woff2') format('woff2'),
        url('../../assets/fonts/CotorisItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CotorisBold';
    src: url('../../assets/fonts/CotorisBold.woff2') format('woff2'),
        url('../../assets/fonts/CotorisBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

