.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  /*background-color: rgba(0,0,0,0.3) !important;*/
  /*opacity: 0.1;*/
}

.navbar-dark .navbar-nav .nav-link .apple-logo {
  font-size: 21px;
  line-height: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 13px;
}

