@font-face {
    font-family: 'Nitti Grotesk';
    src: url('/assets/fonts/NittiGrotesk-SemiLight.woff2') format('woff2'),
        url('/assets/fonts/NittiGrotesk-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nitti Grotesk';
    src: url('/assets/fonts/NittiGrotesk-Medium.woff2') format('woff2'),
        url('/assets/fonts/NittiGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nitti Grotesk';
    src: url('/assets/fonts/NittiGrotesk-Bold.woff2') format('woff2'),
        url('/assets/fonts/NittiGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nitti Grotesk';
    src: url('/assets/fonts/NittiGrotesk-Normal.woff2') format('woff2'),
        url('/assets/fonts/NittiGrotesk-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

