	  {% include head.html %}


<body id="page-top">
    
	  {% include navbar2.html %}

	
	<article class="page" lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/BlogPosting" >

    <div class="post-content" itemprop="articleBody">     
    
<div>
    
	
    <header class="d-flex article-header-txt" style="overflow: hidden;background-color: white;">
		<h1 class="mb-1 articleheader" >{{ page.title | escape }}</h1>
  
    </header>
		
	
	
    <div class="text-justify article-clean" data-aos="fade" id="art" style="font-family: 'Nitti Grotesk', sans-serif; background-position: center;background-size: cover; padding-top: {{ page.paddingtop | escape }};">
	{{ content }}
        
	
	    
</div>
  </div>

      </div>

</article>

{% include footer.html %}
	

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/assets/js/stylish-portfolio.js"></script>
</body>

</html>